https://velog.io/@muchogusto/Data-Model-1

https://docs.python.org/3/library/collections.html#collections.namedtuple

https://www.google.com/imgres?imgurl=https%3A%2F%2Fimage.slidesharecdn.com%2Fpythonadvanced-151127114045-lva1-app6891%2F95%2Fpython-advanced-building-on-the-foundation-97-638.jpg%3Fcb%3D1448910770&imgrefurl=https%3A%2F%2Fwww.slideshare.net%2FKevlin%2Fpython-advanced-building-on-the-foundation%2F97-namedtuple_namedtuple_allows_the_creation&tbnid=-7HH_bA2LuqjkM&vet=12ahUKEwiU6ZX07ozsAhU5KqYKHYB9Df0QMygBegUIARCUAQ..i&docid=e5VnE9jrlj1TUM&w=638&h=479&q=namedtuples%20python&hl=ko&ved=2ahUKEwiU6ZX07ozsAhU5KqYKHYB9Df0QMygBegUIARCUAQ

https://excelsior-cjh.tistory.com/97

http://zetcode.com/python/namedtuple/

## namedtuple python

Returns a new subclass of tuple with named fields.
namedtuple allows the creation of a tuple type with named attributes. 
can still be indexed and iterated
namedtuple is subclass of tuple 

# 일반적인 튜플 사용 vs. named tuple 사용
# 튜플은 변경 불가
# 튜플은 리스트보다 빠름
# 0번은 name, 1번은 age  이렇게 주석을 달거나 해야함. 이런 불편함 때문에 네임드 튜플이 등장함. named fields

## tuple() vs namedtuple()

### tuple()

In [65]:
r1 = ('John', 28, '남')
r2 = ('Sally', 24, '여')
for n in [r1, r2]:
    print('%s은(는) %d 세의 %s성 입니다.' %n)

John은(는) 28 세의 남성 입니다.
Sally은(는) 24 세의 여성 입니다.

## namedtuple()

In [66]:
from collections import namedtuple
Person = namedtuple("Person", "name age gender")

In [67]:
# namedtuple?

In [68]:
r1 = Person('Jhon', 28, '남')
r1

Person(name='Jhon', age=28, gender='남')

In [69]:
print(type(r1))

<class '__main__.Person'>

In [70]:
print(r1)

Person(name='Jhon', age=28, gender='남')

In [71]:
name, age, gender = r1
print(name, age, gender)

Jhon 28 남

In [72]:
# attribute(속성, ==칼럼명)을 사용할수 있다
print(r1.name) # 칼럼명을 사용해 값을 출력

Jhon

In [73]:
print(r1[0]) # index를 사용해 값을 출력

Jhon

In [32]:
r2 = Person(name='Sally', age=24, gender='여')

In [64]:
for n in [r1, r2]:
    print('%s은(는) %d 세의 %s성 입니다.' %n)

Jhon은(는) 28 세의 남성 입니다.
Sally은(는) 28 세의 여성 입니다.

In [50]:
import csv
 
f = open('employees.csv', 'r', encoding='utf-8')
rdr = csv.reader(f)
for line in rdr:
    print(line)
f.close()

['name', ' age', ' title', ' department']
['김길동', ' 25', ' 사원', ' 영업팀']
['김수철', ' 40', ' 과장', ' 영업팀']
['홍길수', ' 33', ' 대리', ' 인사팀 ']

In [52]:
import csv
EmployeeRecord = namedtuple('EmployeeRecord', 'name, age, title, department')

In [53]:
for emp in map(EmployeeRecord._make, csv.reader(open("employees.csv",'r', encoding='utf-8'))):
    print(emp.name, emp.title)

name  title
김길동  사원
김수철  과장
홍길수  대리

In [54]:
f = open("employees.csv",'r', encoding='utf-8')
reader = csv.reader(f)

In [55]:
reader

In [56]:
EmployeeRecord._make?

Signature: EmployeeRecord._make(iterable)
Docstring: Make a new EmployeeRecord object from a sequence or iterable
File:      c:\tools3\miniconda3\envs\book\lib\collections\__init__.py
Type:      method

In [57]:
for emp in map(EmployeeRecord._make, reader):
    #print(emp)
    print(emp.name)

name
김길동
김수철
홍길수

In [58]:
type(emp)

__main__.EmployeeRecord

In [59]:
f.close()

In [ ]:
# https://wikidocs.net/22803

In [61]:
def add_1(n):
      return n + 1

target = [1, 2, 3, 4, 5]

result = map(add_1, target)

print(result)

<map object at 0x000001F6B2144088>

In [62]:
print(list(result))

[2, 3, 4, 5, 6]